@import "./reset.scss";
@import "./themes/dark.scss";
@import "./themes/light.scss";
@import "./variables/global.scss";

.app {
  font: var(--font-m);
  background-color: var(--bg-color);
  width: 100%;
  height: 100vh;
}
